body{
    margin-top: 10%;
    margin-bottom: 10%;
    background: url(fundo2.jpg);
    background-size: cover;
}
.container {
    border: 3px;
    width: 65%;
    max-width: 500px;
    background-color:rgb(112, 144, 150);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0 );
    border-radius: 15px;
}

form {
    border-radius: 15px;
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 10px;
    background: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.95) opacity(0.95);
    
}

.form2 {
    border-radius: 15px;
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 10px;
    background: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.95) opacity(0.95);
}

.botao {
    border-radius: 50px;
    text-decoration: solid;
    width: 100%; /* Alterado para 100% da largura do contêiner */
    height: 40px; /* Ajuste o valor conforme necessário */
    background-color: rgb(36, 32, 32);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.botao2 {
    border-radius: 50px;
    text-decoration: solid;
    width: 100%; /* Alterado para 100% da largura do contêiner */
    height: 40px; /* Ajuste o valor conforme necessário */
    background-color: rgb(36, 32, 32);
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 30px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5 );
    margin-bottom: 5%;
}

label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 10px;
}
input {
    background: rgba(255, 255, 255, 0.3 );
    height: 20px;
    width: 90%;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 5%;
    color: white;
}

p {
    margin: 25px 5px 5px 5px
}

a{
    color: black;
}

::placeholder{
    color: rgb(60, 60, 62);
}

.container2 {
    border: 3px;
    width: 65%;
    max-width: 400px;
    background-color:rgb(112, 144, 150);
    border-radius: 35px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0 );
    display: flex; align-items: center; justify-content: center; 
}

fieldset {
    display: inline;
}    

fieldset input{
    cursor: pointer;
}

.register{
    border-radius: 50px;
    text-decoration: solid;
    width: 100%; /* Alterado para 100% da largura do contêiner */
    height: 40px; /* Ajuste o valor conforme necessário */
    background-color: rgb(36, 32, 32);
    color: white;
    cursor: pointer;
    margin-top: 15px;
}
