body {
    margin-top: 10%; /* Ajuste o valor conforme necessário */
    background: url(./img/fundo2.jpg);
    background-size: cover;
}

.container {
    border: 1px solid black;
    width: 80%; /* Alterado para 80% da largura da tela */
    max-width: 500px; /* Define o tamanho máximo para evitar que fique muito grande */
    height: auto; /* Alterado para altura automática */
    margin: 0 auto; /* Centraliza horizontalmente */
    background-color: rgb(112, 144, 150);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
    background: url(./img/fundo.jpg);
    background-size: cover;
    background-position: center;
}

form {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.botao,
.botao2 {
    border-radius: 50px;
    text-decoration: solid;
    width: 100%; /* Alterado para 100% da largura do contêiner */
    height: 40px; /* Ajuste o valor conforme necessário */
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    font-size: 25px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; /* Reduzido o espaço inferior */
}

label {
    color: rgba(20, 20, 20, 0.8);
    font-size: 15px;
    letter-spacing: 1px; /* Reduzido o espaçamento entre letras */
    padding-left: 5px; /* Reduzido o espaçamento à esquerda */
}

input {
    background: rgba(255, 255, 255, 0.3);
    height: 40px; /* Ajuste o valor conforme necessário */
    border-radius: 5px;
    padding: 0px 10px; /* Reduzido o preenchimento */
    border: none;
    margin-bottom: 20px;
    color: white;
}
